@model IEnumerable<OutOfOffice.Models.ViewModels.ProjectViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create project</a>
</p>
<form asp-action="Index" method="get">
	<div class="form-actions no-color">
		<p>
			Find by project number: <input type="number" name="SearchString" value="@ViewData["NumberFilter"]" />
			<input type="submit" value="Search" class="btn btn-default" />
		</p>
	</div>
</form>
<form asp-action="Index" method="get">
	<div class="form-actions no-color">
		<p>Filters:</p>
		<p>Type: <select name="TypeFilter" asp-for="@ViewData["TypeFilter"]" asp-items="OutOfOffice.Models.ViewModels.ProjectViewModel.ProjectTypeOptions"><option value="">All</option></select></p>
		<p>Project manager id:  <input type="number" name="ManagerFilter" value="@ViewData["ManagerFilter"]" /></p>
		<p>Status: <select name="StatusFilter" asp-for="@ViewData["StatusFilter"]" asp-items="OutOfOffice.Models.ViewModels.ProjectViewModel.StatusOptions"><option value="">All</option></select></p>
		<p><input type="submit" value="Filter" class="btn btn-default" /></p>
	</div>
</form>
<a asp-action="Index">Back to Full List</a>
<table class="table">
	<thead>
		<tr>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]"> @Html.DisplayNameFor(model => model.Id)</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]"> @Html.DisplayNameFor(model => model.ProjectType)</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]">@Html.DisplayNameFor(model => model.StartDate)</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]">@Html.DisplayNameFor(model => model.EndDate)</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["ManagerSortParm"]"> @Html.DisplayNameFor(model => model.ProjectManager)</a>
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.Status)</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProjectType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProjectManager)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Deactivate" asp-route-id="@item.Id">Deactivate</a>
				</td>
			</tr>
		}
	</tbody>
</table>
